[Unit]
Description=Lircd


## make sure we only start the service after network is up
Wants=network-online.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi
ExecStart=/home/pi/PiDPA/bin/lirc.sh
User=pi
Restart=on-abort

[Install]
WantedBy=multi-user.target
