[Unit]
Description=raveloxmidi
After=network.target

[Service]
ExecStart=/usr/local/bin/raveloxmidi
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
